# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Frontend
/frontend/node_modules
/frontend/build

# Log files and temporary directories
*.log
*.zip
/logs-*
/run-*
/ci-run-*

# SSH keys
passkey
passkey.pub

# Temporary directories
/read2learn
